<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class ="row">
    <div class ="col">

      <span class="inline-block">
        <p class="welcome"> Welcome to Tripr! </p><p class="headerend"> &nbsp not long now...</p><p class="countdowntimer"><span id="countdown"></span></p>
      </span>
    </div>
   </div>
   <div class ="row">
    <div class ="col">
      <span class="inline-block">
      <btn class = "btn btn-tripr-add"><%= link_to "+ NEW ADVENTURE", new_trip_path%></btn>
      </span>
    </div>
  </div>
  <div class ="circle row">
    <% @trips.each do |trip| %>
      <div class="lilcircle col-xs-6 col-sm-4 col-md-4"><p class="locationcenter"><a href="/trips/<%= trip.id %>"><%= trip.primary_location_city %><br> (<%= trip.primary_location_country%>)</a></p></div>
    <% end %>
  </div>
</div>
<h5>
To do: Take the blue background off | Get it to order the trips furthest into future first| nice display for the trips | figure out which is 'next' trip to put into countdown timer </h5>

<%= render 'layouts/footer' %>

<script>
// set the date we're counting down to
var target_date = new Date("Dec 25, 2014 0:00 PM").getTime();

// variables for time units
var days, hours, minutes, seconds;

// get tag element
var countdown = document.getElementById("countdown");

// update the tag with id "countdown" every 1 second
setInterval(function () {

    // find the amount of "seconds" between now and target
    var current_date = new Date().getTime();
    var seconds_left = (target_date - current_date) / 1000;

    // do some time calculations
    days = parseInt(seconds_left / 86400);
    seconds_left = seconds_left % 86400;

    hours = parseInt(seconds_left / 3600);
    seconds_left = seconds_left % 3600;

    minutes = parseInt(seconds_left / 60);
    seconds = parseInt(seconds_left % 60);

    // format countdown string + set tag value
    countdown.innerHTML = days + "d, " + hours + "h, "
    + minutes + "m, " + seconds + "s";

}, 1000);
</script>