<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="access#home">Tripr</a>
      </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li><%= link_to "Logout", logout_path%></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div class ="row">
    <div class ="col-xs-12 col-sm-6 col-md-8">
    <br>
      <h1>Your next adventure starts here... </h1>
    </div>
  </div>
    <div class ="row">
    <div class ="col-xs-12 col-sm-6 col-md-8" id="newTripForm">

      <%= form_for(@trip, url: new_trip_path) do |f|%>

        <p>
          <%= f.label(:trip_name) %>
          <%= f.text_field(:trip_name, autofocus: true) %>
        </p>
        <p>
          <%= f.label(:primary_location_city)%>
          <%= f.text_field(:primary_location_city)%>
        </p>
        <p>
          <%= f.label(:primary_location_country)%>
          <%= f.text_field(:primary_location_country)%>
        </p>
        <p>
          <%= f.label(:start_date) %>
          <%= f.password_field(:start_date) %>
        </p>
        <p>
          <%= f.label(:end_date) %>
          <%= f.password_field(:end_date) %>
        </p>
        <p>
          <%= f.label(:notes) %>
          <%= f.password_field(:notes) %>
        </p>
        <p>
          <%= f.label(:image) %>
          <%= f.password_field(:image) %>
        </p>
        <%= hidden_field_tag(:created_at, Time.now ) %>
        <p>
          <%= f.submit("Signup", class: "btn-tripr-inverse") %>
        </p>

      <% end %>



    </div>
  </div>
</div>

<!-- Other things to do here: rename form inputs, put placeholders in, make the boxes aligned and better lengths, add the image upload and make the background image this one make the box the length of the form flex with form size -->
