<%= render 'layouts/header' %>
  <div class ="row">
      <div class ="col">
      <br>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <span class="inline-block">
          <p class="headerstart"> <%= @trip.trip_name %>&nbsp</p><p class="headerend">(<%= @trip.primary_location_city %>,&nbsp<%= @trip.primary_location_country %>)</p><p class="countdowntimer"><span id="countdown"></span></p>
        </span>
        </div>
      </div>
    </div>
    <div class ="row">
      <div class ="col">
      <br>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <span class="inline-block">
          <p class="tripdetail">Departure: <%= @trip.start_date %> </p>&nbsp&nbsp<p class="tripdetail">Return: <%= @trip.start_date %> </p>
        <btn class = "btn btn-tripr-add"><%= link_to "+ NEW ACTIVITY", new_trip_activity_path(@trip.id) %></btn>
        </span>
        </div>
      </div>
    </div>
      <div class ="row">
        <div class ="sidebarfeed col-xs-6 col-md-4">
          <span class="inline-block"><p>ACTIVITY BAR</p><btn class = "btn btn-activ-add"><%= link_to "+ NEW", new_trip_activity_path(@trip.id) %></btn></span>
          <% @trip.activities.each do |a|  %>
            <div>
            Activity: <%= a.name %>
            Address: <%= a.address %>
            Cost: $<%= a.cost %>
            </div>
          <% end  %>
        </div>
        <div class="tripdiaryday col-xs-12 col-sm-6 col-md-8">
          <p>TRIP PLANNER</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

<script>
// set the date we're counting down to
var target_date = new Date("<%= @trip.start_date %>").getTime();

// variables for time units
var days, hours, minutes, seconds;

// get tag element
var countdown = document.getElementById("countdown");

// update the tag with id "countdown" every 1 second
setInterval(function () {

    // find the amount of "seconds" between now and target
    var current_date = new Date().getTime();
    var seconds_left = (target_date - current_date) / 1000;

    // do some time calculations
    days = parseInt(seconds_left / 86400);
    seconds_left = seconds_left % 86400;

    hours = parseInt(seconds_left / 3600);
    seconds_left = seconds_left % 3600;

    minutes = parseInt(seconds_left / 60);
    seconds = parseInt(seconds_left % 60);

    // format countdown string + set tag value
    countdown.innerHTML = days + "d, " + hours + "h, "
    + minutes + "m, " + seconds + "s";

}, 1000);
</script>
<script>
  $('#animatedElement').onClick(function() {
    $(this).addClass("fadeIn");
  });
</script>

To do: get it to set out a diary form using trip dates | get the countdown clock to use date for this trip | add activities window on the left | add links for the activities through to the activity pages or pop up modals showing details (perhaps better - no need to leave the page).