<%= render 'layouts/header' %>

    <script>
    $(document).ready(function(){
      var date = gon.start_date;
      console.log(date);
      $('#calendar').fullCalendar({
        droppable: true,
        dropAccept: '.draggable-event',
        drop: function(date, jsEvent, ui) {
          console.log("dropped on date", date);
          console.log("event that was dropped", this);
          var m = calendar.moment();
          console.log(m);

          // console.log(this.Moment._i);
        //   var noTZ = $.fullCalendar.moment._i('2014-05-01T12:00:00');
        //   var l = moment.parseZone;
        //   console.log($.fullCalendar.Moment[
        // ]);
          //some kind of ajax call or alternative to pass the date to the activity record and reset it's proposed date as date.
          //use data attribute to pass in id?
          //set the activity in the activity bar to not show/when moved to new location in cal set to only show in new location
          //show it in the calendar
          //be draggable in the calendar
        },
        eventReceive: function () {
          alert("received");
        }
      });
      $('#calendar').fullCalendar('gotoDate', date );
      $('.my-draggable').draggable({
          revert: true,      // immediately snap back to original position
          revertDuration: 0
      });
    });



    // $('#calendar').fullCalendar({
    //   droppable: true,
    //   drop: function(date) {
    //       alert("Dropped on " + date.format());
    //   }
    // });

    function allowDrop(ev) {
    ev.preventDefault();
    }

    function drag(ev) {
    ev.dataTransfer.setData("date", ev.target.proposed_on);
    }

    function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}

  </script>

  <div class ="row">
      <div class ="col">
      <br>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <span class="inline-block">
          <p class="headerstart"> <%= @trip.trip_name %>&nbsp</p><p class="headerend">(<%= @trip.primary_location_city %>,&nbsp<%= @trip.primary_location_country %>)</p><p class="countdowntimer"><span id="countdown"></span></p>
        </span>
        </div>
      </div>
    </div>
    <div class ="row">
      <div class ="col">
      <div class="col-md-8">
        <span class="inline-block">
          <p class="tripdetail">Departure: <%= @trip.start_date %> </p>&nbsp&nbsp<p class="tripdetail">Return: <%= @trip.start_date %> </p>
          <p class="tripdatecounttext"> ... counting down the days.</p>
        </span>
        </div>
      </div>
    </div>

      <div class ="row">
        <div class ="col-md-3 sidebarfeed">
          <span class="inline-block">
          <br>
          <p class="bar">ACTIVITY BAR</p><btn class = "btn btn-activ-add"><%= link_to "+ NEW", new_trip_activity_path(@trip.id) %></btn></span>
          <% @trip.activities.each do |a|  %>
            <div draggable="true" class="draggable-event my-draggable" >
              <p class="acttitle"><%= a.title %>  ID: <%= a.id %></p>
              <p class="actrest">Address: <%= a.address %>  Cost: $<%= a.cost %></p>
            </div>
          <% end  %>
        </div>
        <div class="col-md-9 tripdiaryday">
        <br>
          <p class="bar">TRIP PLANNER</p>
          <div id='calendar'></div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

<script>
// set the date we're counting down to
var target_date = new Date("<%= @trip.start_date %>").getTime();

// variables for time units
var days, hours, minutes, seconds;

// get tag element
var countdown = document.getElementById("countdown");

// update the tag with id "countdown" every 1 second
setInterval(function () {

    // find the amount of "seconds" between now and target
    var current_date = new Date().getTime();
    var seconds_left = (target_date - current_date) / 1000;

    // do some time calculations
    days = parseInt(seconds_left / 86400);
    seconds_left = seconds_left % 86400;

    hours = parseInt(seconds_left / 3600);
    seconds_left = seconds_left % 3600;

    minutes = parseInt(seconds_left / 60);
    seconds = parseInt(seconds_left % 60);

    // format countdown string + set tag value
    countdown.innerHTML = days + "d, " + hours + "h, "
    + minutes + "m, " + seconds + "s";

}, 1000);
</script>

To do: get it to highlight trip dates on the diary (only show trip dates) | 2 decimal points on price |get drag and drop activities working | add links for the activities through to the activity pages or pop up modals showing details (perhaps better - no need to leave the page) | style it.