<%= render 'layouts/header' %>

    <script>
    $(document).ready(function(){
      var date = gon.start_date;
      console.log(date);
      $('#calendar').fullCalendar({});
      $('#calendar').fullCalendar('gotoDate', date );
    });
  </script>

  <div class ="row">
      <div class ="col">
      <br>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <span class="inline-block">
          <p class="headerstart"> <%= @trip.trip_name %>&nbsp</p><p class="headerend">(<%= @trip.primary_location_city %>,&nbsp<%= @trip.primary_location_country %>)</p><p class="countdowntimer"><span id="countdown"></span></p>
        </span>
        </div>
      </div>
    </div>
    <div class ="row">
      <div class ="col">
      <br>
      <div class="col-md-8">
        <span class="inline-block">
          <p class="tripdetail">Departure: <%= @trip.start_date %> </p>&nbsp&nbsp<p class="tripdetail">Return: <%= @trip.start_date %> </p>
        <btn class = "btn btn-tripr-add"><%= link_to "+ NEW ACTIVITY", new_trip_activity_path(@trip.id) %></btn>

        <div id="fullCalModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                          <h4 id="modalTitle" class="modal-title"></h4>
                      </div>
                      <div id="modalBody" class="modal-body"></div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button class="btn btn-primary"><a id="eventUrl" target="_blank">Event Page</a></button>
                      </div>
                  </div>
              </div>
          </div>
        </span>
        </div>
      </div>
    </div>

      <div class ="row">
        <div class ="col-md-3 sidebarfeed">
          <span class="inline-block"><p>ACTIVITY BAR</p><btn class = "btn btn-activ-add"><%= link_to "+ NEW", new_trip_activity_path(@trip.id) %></btn></span>
          <% @trip.activities.each do |a|  %>
            <div>
            Activity: <%= a.name %>
            Address: <%= a.address %>
            Cost: $<%= a.cost %>
            </div>
          <% end  %>
        </div>
        <div class="col-md-9 tripdiaryday">
          <p>TRIP PLANNER</p>
          <div id='calendar'></div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

<script>
// set the date we're counting down to
var target_date = new Date("<%= @trip.start_date %>").getTime();

// variables for time units
var days, hours, minutes, seconds;

// get tag element
var countdown = document.getElementById("countdown");

// update the tag with id "countdown" every 1 second
setInterval(function () {

    // find the amount of "seconds" between now and target
    var current_date = new Date().getTime();
    var seconds_left = (target_date - current_date) / 1000;

    // do some time calculations
    days = parseInt(seconds_left / 86400);
    seconds_left = seconds_left % 86400;

    hours = parseInt(seconds_left / 3600);
    seconds_left = seconds_left % 3600;

    minutes = parseInt(seconds_left / 60);
    seconds = parseInt(seconds_left % 60);

    // format countdown string + set tag value
    countdown.innerHTML = days + "d, " + hours + "h, "
    + minutes + "m, " + seconds + "s";

}, 1000);
</script>


To do: get it to set out a diary form using trip dates | get the countdown clock to use date for this trip | add activities window on the left | add links for the activities through to the activity pages or pop up modals showing details (perhaps better - no need to leave the page).